.tabsContainer {
    width: 377px;
    height: 32px;
}

.buttons {
    width: 377;
    height: 32px;
    display: flex;
    gap: 6px;
}

.buttons button {
    width: auto;
    height: 40px;
    border-radius: 6px;
    border: none;
    background: gray(185, 183, 183, 0.827);
    color: black;
    padding: 8px 16px;
    cursor: pointer;
}

.text1 {
    font-size: 14px;
    display: flex;
    justify-content: center;
    color: gray;
    margin: 30px
}
